#container{
  margin: 150px 50px 0 50px;
}

form {
  border: 2px solid lightgray;
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

.row {
  margin: 10px 5px;
}

#userLocation {
  width: 50%;
}

.highlight {
  color: lightgreen;
}

header {
  font-size: 32px;
  font-weight: bold;
  text-align: right;
  margin-right: 10%;
}

nav {
  padding-top: 20px;
  padding-bottom: 20px;
}



/**********************************************************
MEDIA QUERIES
**********************************************************/

@media screen and (max-width: 768px) {

  #container {
    margin-top: 300px;
  }

  .nav>li {
    display: inline-block;
  }

  header {
    text-align: center;
  }
  }
