header{
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

#container{
  margin: 80px auto 0 auto;
  text-align: center;
}

footer{
  text-align: center;
}


.circle-nick {
  width:150px;
  height:150px;
  border-radius:50%;
  text-align:center;
  background-image: url(naveed.jpg);
  background-size: cover;
  border: 1px solid #979797;
  margin-bottom: 20px;
}

.circle-naveed {
  width:150px;
  height:150px;
  border-radius:50%;
  text-align:center;
  background-image: url(naveed.jpg);
  background-size: cover;
  border: 1px solid #979797;
  margin-bottom: 20px;
}

.circle-matt {
  width:150px;
  height:150px;
  border-radius:50%;
  text-align:center;
  background-image: url(naveed.jpg);
  background-size: cover;
  border: 1px solid #979797;
  margin-bottom: 20px;
}

.circle-lamson {
  width:150px;
  height:150px;
  border-radius:50%;
  text-align:center;
  background-image: url(naveed.jpg);
  background-size: cover;
  border: 1px solid #979797;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

li{
  margin-bottom: 5px;
}

.contact{
  padding-top: 50px;
  margin-left: -130px;
}

.nav>li{
  display:inline-block;
}

@media screen and (min-width:760px){
  header {
    margin-right: 13%;
  }
}

