nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

body {
  background-image: url(portland.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.panel {
  border: solid;
}

#container {
  margin: 150px 50px;
}

#result {
  text-align: center;
  padding: 50px;
}

#name {
  font-family: ;
  font-size: 24px;
  font-weight: 700;

}

#details {
  margin: 50px auto;
}

#map-canvas {
  /*width: 640px;*/
  height: 400px;
  margin: 50px 25px;
  border: solid;
}


#loader {
  background-color: black;
  position: fixed;
  top: 90px;
  z-index: 20;
  margin: 0px auto;
  text-align: center;
  opacity: 0;
  -webkit-animation: disappear 2s;
  -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes disappear {
  0% {opacity: 1;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

#ninjapic {
  position: relative;
  top:100px;
  margin-left: auto;
  margin-right: auto;
}

#floatingCirclesG{
position: relative;
top: -212px;
left: 18px;
width:256px;
height:256px;
margin-left: auto;
margin-right: auto;
-moz-transform:scale(0.6);
-webkit-transform:scale(0.6);
-o-transform:scale(0.6);
-ms-transform:scale(0.6);
transform:scale(0.6);
}

.f_circleG{
position:absolute;
background-color:#FF0000;
height:47px;
width:47px;
-moz-border-radius:23px;
-moz-animation-name:f_fadeG;
-moz-animation-duration:1.04s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:23px;
-webkit-animation-name:f_fadeG;
-webkit-animation-duration:1.04s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-o-border-radius:23px;
-o-animation-name:f_fadeG;
-o-animation-duration:1.04s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-ms-border-radius:23px;
-ms-animation-name:f_fadeG;
-ms-animation-duration:1.04s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
border-radius:23px;
animation-name:f_fadeG;
animation-duration:1.04s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#frotateG_01{
left:0;
top:105px;
-moz-animation-delay:0.39s;
-webkit-animation-delay:0.39s;
-o-animation-delay:0.39s;
-ms-animation-delay:0.39s;
animation-delay:0.39s;
}

#frotateG_02{
left:30px;
top:30px;
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-o-animation-delay:0.52s;
-ms-animation-delay:0.52s;
animation-delay:0.52s;
}

#frotateG_03{
left:105px;
top:0;
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-o-animation-delay:0.65s;
-ms-animation-delay:0.65s;
animation-delay:0.65s;
}

#frotateG_04{
right:30px;
top:30px;
-moz-animation-delay:0.78s;
-webkit-animation-delay:0.78s;
-o-animation-delay:0.78s;
-ms-animation-delay:0.78s;
animation-delay:0.78s;
}

#frotateG_05{
right:0;
top:105px;
-moz-animation-delay:0.91s;
-webkit-animation-delay:0.91s;
-o-animation-delay:0.91s;
-ms-animation-delay:0.91s;
animation-delay:0.91s;
}

#frotateG_06{
right:30px;
bottom:30px;
-moz-animation-delay:1.04s;
-webkit-animation-delay:1.04s;
-o-animation-delay:1.04s;
-ms-animation-delay:1.04s;
animation-delay:1.04s;
}

#frotateG_07{
left:105px;
bottom:0;
-moz-animation-delay:1.17s;
-webkit-animation-delay:1.17s;
-o-animation-delay:1.17s;
-ms-animation-delay:1.17s;
animation-delay:1.17s;
}

#frotateG_08{
left:30px;
bottom:30px;
-moz-animation-delay:1.3s;
-webkit-animation-delay:1.3s;
-o-animation-delay:1.3s;
-ms-animation-delay:1.3s;
animation-delay:1.3s;
}

@-moz-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FF0000}

}

@-webkit-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FF0000}

}

@-o-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FF0000}

}

@-ms-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FF0000}

}

@keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FF0000}

}

- See more at: http://cssload.net/#sthash.tG5kkwgk.dpuf
